{# Renders the hello-world component #}
{% macro render(data) %}
  <section>
    {% heading2 'This is the Hello Wold Component' %}
    {% heading3 'Hello from 11ty' %}
    <p>This component is using localized data under 'i18n' folder<p>
    <p>This data should be localized: {{data.name}}</p>
  </section>
{% endmacro %}