---
title: Sample 11ty - Animals
lang: es
---
<!doctype html>
<html lang={{ lang }}>
 <head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/main.css">
 </head>
 <body>
 	<h1>{{ title }}</h1>
  <div class="container">
    {%- for animal in animals -%}
      <div class="animal">
        <div class="animal__text">
          <strong class="label">{{collections[lang][0].data.name}}:</strong>
          {{ animal.name }}
        </div>
        <div class="animal__text">
          <strong class="label">{{collections[lang][0].data.country}}:</strong>
          {{ animal.country }}
        </div>
        <div class="animal__text">
          <strong class="label">{{collections[lang][0].data.description}}:</strong>
          {{ animal.description }}
        </div>
      </div>
    {%- endfor -%}
  </div>
 </body>
</html>
