---
lang: en
---
<!doctype html>
<html lang={{ lang }}>
  {% set page = collections | i18n(lang) %}
 <head>
  <meta charset="utf-8">
  <title>{{  page.title }}</title>
  <link rel="stylesheet" href="/css/main.css">
 </head>
 <body>
 	<h1>{{ page.title }}</h1>
  <div class="container">
    {%- for animal in animals -%}
      <div class="animal">
        <div class="animal__text">
          <strong class="label">{{page.name}}:</strong>
          {{ animal.name }}
        </div>
        <div class="animal__text">
          <strong class="label">{{page.country}}:</strong>
          {{ animal.country }}
        </div>
        <div class="animal__text">
          <strong class="label">{{page.description}}:</strong>
          {{ animal.description }}
        </div>
      </div>
    {%- endfor -%}
  </div>
 </body>
</html>
